<div class="courses-container container">
    <div class="title">ABOUT COURSES</div>
    <div class="courses">
        <div class="card-deck">
            <div class="card courseboxshadow" style="background-color: #D6EAF8;">
                <span class="mt-2"><img src="assets/science_logo-transparent.png" data-src="./images/course.png"
                        data-hover="./images/course1.png" class="image-container"
                        style="height:70px;"></span>
                <div class="card-body">
                    <h5 class="card-title text-center">PUC Science</h5>
                    <p class="card-text para">Physics, Chemistry, Mathematics, Biology, Computer Scienc</p>

                </div>
            </div>
            <div class="card courseboxshadow" style="background-color:#FCF3CF;">
                <span class="mt-2"><img src="assets/science_logo-transparent.png" data-src="./images/book.png"
                        data-hover="./images/book2.png" class="image-container"
                        style=" height:70px;"></span>
                <div class="card-body">
                    <h5 class="card-title text-center">PUC Commerce</h5>
                    <p class="card-text para">Economics, Business Studies, Accountancy, Statistics, History, Computer Science</p>

                </div>
            </div>
            <div class="card courseboxshadow" style="background-color: #D6EAF8;">
                <span class="mt-2"><img src="assets/science_logo-transparent.png" data-src="./images/light.png"
                        data-hover="./images/light3.png" class="image-container"
                        style="height:70px;"></span>
                <div class="card-body">
                    <h5 class="card-title text-center">High School - ICSE</h5>
                    <p class="card-text para">Physics, Chemistry, Mathematics, Biology, Computer Science, Kannada, Hindi
                    </p>

                </div>
            </div>
            <div class="card courseboxshadow" style="background-color:#FCF3CF;">
                <span class="mt-2"><img src="assets/science_logo-transparent.png" data-src="./images/book.png"
                        data-hover="./images/book2.png" class="image-container"
                        style="height:70px;"></span>
                <div class="card-body">
                    <h5 class="card-title text-center">High School - State Board</h5>
                    <p class="card-text para">Mathematics, General Science, Social Studies, Kannada, Hindi</p>

                </div>
            </div>
        </div>
    </div>
</div>