<div class="courses-container container">
    <div class="title">COURSES OFFERED</div>
    <div class="courses">
        <!-- <div class="card-deck"> -->
        <div class="card courseboxshadow science">
            <!-- <span class="mt-2"><img src="assets/science_logo-transparent.png" data-src="./images/course.png"
                    data-hover="./images/course1.png" class="image-container" style="height:70px;"></span> -->
            <div class="card-body ">
                <h5 class="card-title ">PUC Science</h5>
                <ul>
                    <li>Physics</li>
                    <li>Chemistry</li>
                    <li>Mathematics</li>
                    <li>Biology</li>
                    <li>Computer Science</li>
                </ul>
            </div>
        </div>
        <div class="card courseboxshadow commerce" >
             <div class="card-body">
                <h5 class="card-title ">PUC Commerce</h5>
                <ul>
                    <li>Economics</li>
                    <li>Business Studies</li>
                    <li>Accountancy</li>
                    <li>Statistics</li>
                    <li>History</li>
                    <li>Computer Science</li>
                </ul>

            </div>
        </div>
        <div class="card courseboxshadow stateboard" >
          
            <div class="card-body">
                <h5 class="card-title ">High School - ICSE</h5>
                <ul>
                    <li>Physics</li>
                    <li>Chemistry</li>
                    <li>Mathematics</li>
                    <li>Biology</li>
                    <li>Computer Science</li>
                    <li>Kannada</li>
                    <li>Hindi</li>
                </ul>

            </div>
        </div>
        <div class="card courseboxshadow icse" >
            
            <div class="card-body">
                <h5 class="card-title ">High School - State Board</h5>
                <ul>
                    <li>Mathematics</li>
                    <li>General Science</li>
                    <li>Social Studies</li>
                    <li>Kannada</li>
                    <li>Hindi</li>
                </ul>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>