.main {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
        url("/assets/classroom.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    .content {
        display: flex;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        line-height: unset;
        .content-container {
            color: white;
            text-align: center;

            button {
                background: crimson;
                width: 200px;
                font-size: 18px;
                color: white;
                height: 50px;
                border-radius: 25px;
                margin: 30px 0px;
            }
           
        }
    }
}
.section-2 {
    // background-color: #f5f5f5;
    .title {
        font-size: 48px;
        color: crimson;
        font-family: "Rubik", sans-serif;
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin: 20px 0px;
    }
    .services {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .services-card {
            background-color: #f5f5f5;
            max-width: 350px;
            margin-bottom: 20px;
        }
    }
}

.contact-container {
    padding: 50px 0;
    background: #f5f5f5;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.section-3 {
    padding: 50px 0;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    .about-us {
        max-width: 1000px;  
        margin: auto;
    }
    .title {
        font-size: 48px;
        color: crimson;
        font-family: "Rubik", sans-serif;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    .about-container {
        
        padding: 20px;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
        h2 {
            margin-bottom: 20px;
        }
    }

    .image-container {
        width: 200px;
        height: 200px;
        background-size: cover;
        border-radius: 100%;
        border: 1px solid crimson;
    }

    .teacher-image {
        background-image: url(/assets/teacher.jpg);
        margin-bottom: 30px;
    }

    .excellence-image {
        background-image: url(/assets/excellence.jpg);
        margin-bottom: 30px;
    }

    .curricullum-image {
        background-image: url(/assets/curriculum.jpg);
        margin-bottom: 30px;
        background-position: 50%;
    }
    .left-container {
        display: flex;
        align-items: center;
        text-align: left;
        flex-wrap: wrap;
        margin-bottom: 30px;
        justify-content: center;

        .image-content {
            max-width: 600px;
            margin-left: 30px;
        }
    }

    .right-container {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;

        flex-wrap: wrap-reverse;
      
        .image-content {
            max-width: 600px;
            margin-right: 30px;
        }
    }
}

.phno {
    font-size: 30px;
    font-family: "Rubik", sans-serif;
}

.title {
    font-size: 60px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    animation: slideDown 1s ease;
}
.sub-title {
    font-size: 24px;
    font-weight: 200;
}

.font-sec {
    font-size: 34px;
}

@keyframes slideDown {
    0% {
        transform: translateY(-75px);
        opacity: 0.1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.navbar {
    padding: 20px;
    background-color: transparent !important;
    position: relative;
    .navbar-toggler {
        display: none;
    }
    @media only screen and (max-width: 700px) {
        /* styles for mobile browsers smaller than 480px; (iPhone) */
        .navbar-toggler {
            display: block;
        }
     }
}
.action {
    color: white;
    padding: 0 20px ;
    cursor: pointer;
}


.action:hover {
    font-size: 18px;
    font-weight: bold;
}
.nav-content {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.flex-display {
    display: flex
}
.mobile-list {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background: black;
    z-index: 1;
    transition: all 1s ease-in-out;
    .icon-container {
        padding: 20px;
        float: right;
        color: white;
        width: 100%;
        mat-icon {
            font-size: 48px;
            height: 48px;
            width: 48px;
            float: right;
            cursor: pointer;
        }
    }
    .links-container {
        padding: 20px;
        color: white;
        .link {
            padding:15px;
            border-bottom: 1px solid grey;
            cursor: pointer;
        }
    }
}


@media only screen and (max-width: 700px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .action-buttons{
        display: none;
    }

    .nav-content{
        width: auto;
    }
 }

@media only screen and (max-width: 600px) {
    .title {
        font-size: 40px;
    }

    .sub-title {
        font-size: 20px;
    }

    .phno {
        font-size: 24px;
    }

    .font-sec {
        font-size: 24px;
    }
    .left-container {
        text-align: center;
    }
    .right-container{
        text-align: center;
    }
}
