<div class="container" style="padding: 50px 20px;">
    <div class="title"> Register Now </div>
    <form [formGroup]="studentForm" class="flex-container-center">

        <mat-form-field class="width50" appearance="fill">
            <mat-label>First Name:</mat-label>

            <input type="text" matInput formControlName="firstName" placeholder="First Name">

            <mat-error *ngIf="studentForm.controls['firstName'].hasError('required')">
                First Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="width50" appearance="fill">
            <mat-label>Last Name:</mat-label>

            <input type="text" matInput formControlName="lastName" placeholder="Last Name">

            <mat-error *ngIf="studentForm.controls['lastName'].hasError('required')">
                Last Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="width100" appearance="fill">
            <mat-label>Father's Name :</mat-label>

            <input type="text" matInput formControlName="fatherName" placeholder="Father's Name ">

            <mat-error *ngIf="studentForm.controls['fatherName'].hasError('required')">
                Father's Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="width100" appearance="fill">
            <mat-label>Father's Phone Number</mat-label>

            <input type="number" matInput formControlName="fatherPhNo" placeholder="Phone Number">

            <mat-error *ngIf="studentForm.controls['fatherPhNo'].hasError('required')">
                Father's Phone Number is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="studentForm.controls['fatherPhNo'].hasError('pattern')">
                Please enter a valid phone number
            </mat-error>
        </mat-form-field>

        <mat-form-field class="width100" appearance="fill">
            <mat-label>Mother's Name</mat-label>

            <input type="text" matInput formControlName="motherName" placeholder="Mother's Name">

            <mat-error *ngIf="studentForm.controls['motherName'].hasError('required')">
                Mother's Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="width100" appearance="fill">
            <mat-label>Mother's Phone Number</mat-label>

            <input type="number" matInput formControlName="motherPhNo" placeholder="Phone Number">

            <mat-error *ngIf="studentForm.controls['motherPhNo'].hasError('required')">
                Mother's Phone Number is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="studentForm.controls['motherPhNo'].hasError('pattern')">
                Please enter a valid phone number
            </mat-error>
        </mat-form-field>

        <mat-form-field class="width100" appearance="fill">
            <mat-label>School Name</mat-label>

            <input type="text" matInput formControlName="schoolName" placeholder="School Name">

            <mat-error *ngIf="studentForm.controls['schoolName'].hasError('required')">
                School Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="width100" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            <mat-error
                *ngIf="studentForm.controls['email'].hasError('email') && !studentForm.controls['email'].hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="studentForm.controls['email'].hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <div class="width100 subjects">
            <mat-label>Select Subjects</mat-label>
            <div class="flex-container">
                <!-- <ng-container formArrayName="selectedSubjects">
                    <div *ngFor="let subject of subjects; let i = index" >
                       <mat-checkbox [value]="subject.name" (change)="onChange($event)" class="example-margin" [formControlName]="i">
                         {{subject.name}}
                       </mat-checkbox>
                    </div>
                 </ng-container> -->
                <!-- <div *ngFor="let subject of this.studentForm.get('selectedSubjects').controls; let i=index;">
                    <mat-checkbox [value]="subject.value" (change)="onCheckChange($event)" formArrayName="selectedSubjects">
                        {{subject.name}}
                    </mat-checkbox>
                </div> -->
                <div *ngFor="let subject of subjects; let i = index">
                    <mat-checkbox class="example-margin" (change)="onChange($event)" [value]="subject">{{subject}}
                    </mat-checkbox>
                </div>

            </div>
        </div>

        <button mat-stroked-button type="button" (click)="submitForm()">Register</button>

    </form>
</div>